.navWrapper{
    align-items: center;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.navWrapper a{
    color: white;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}